@charset "UTF8";


:root {
    --blanco : #fff;
    --gris1 :#E8EBE4;
    --gris2 : #BEC1BB;
    --gris3 :#828485;
    --gris4 :#444749;
    --negro : #1b1f21;
    --suave : #CDC3E6;
    --celeste : #D4DCFF;
    --azulado : #A491D2;


}

